<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAR WARS cinema</title>
    <link rel="stylesheet" href="static\home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.postimg.cc/vZgLvMdG/free-icon-death-star-2363879.png">
</head>
<body>
    <img src="https://i.postimg.cc/X7FJ72M7/maxresdefault-2.jpg" class="background">
    <center>
        <h7><a href="home.html"><img src="https://i.postimg.cc/cJWG4Gtx/Z9dtxnstvr0-transformed.png" width="200" height="200" alt=""></h7>
    <h2>
    <p><a href="reg3.html"><img src="https://i.postimg.cc/w3KfXBbR/1595431999-preview-Credits-transformed.png" width="50" height="50" alt=""></a></p>
    </h2>
    <h1>Звездные войны: Эпизод 3 Месть ситхов</h1>
    <h4>
        <a href="ep2.html"><img src="https://i.postimg.cc/Gp7VVd59/png-transparent-arrow-icon-direc.png" width="50" height="50" class="back"></a>
        <iframe width="1080" height="650" src="https://rutube.ru/play/embed/ae8eeb6974fe189ef0f8887b8f51be41" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <a href="ep4.html"><img src="https://i.postimg.cc/kMhzfJtH/png-transparent-arrow-icon-direction-icon-pointer-icon-right-icon-yellow-line-triangle-symbol-transf.png" width="50" height="50" class="next"></a>
    </h4>
    <div class="image-container"></div>
</body>
</html>