<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAR WARS cinema</title>
    <link rel="stylesheet" href="static\hm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.postimg.cc/vZgLvMdG/free-icon-death-star-2363879.png">
</head>
<body>
    <img src="https://i.postimg.cc/X7FJ72M7/maxresdefault-2.jpg" class="background">
    <center>
    <h10>
    <img src="https://i.postimg.cc/cJWG4Gtx/Z9dtxnstvr0-transformed.png" width="200" height="200" alt="">
    </h10>
    <center>
        <big>
    <h1>Фильмы:</h1>
        </big>
    </center>
    <a href="ep1.html"><img src="https://a.radikalfoto.host/2024/07/25/92847.jpeg" alt="92847.jpeg" border="0" class="poster1" /></a>
    <a href="ep2.html"><img src="https://a.radikalfoto.host/2024/07/25/65416ab3dd9d7d6f460eeb524ce480ec.jpeg" alt="65416ab3dd9d7d6f460eeb524ce480ec.jpeg" border="0" class="poster3" /></a>
    <a href="ep3.html"><img src="https://a.radikalfoto.host/2024/07/25/6146126478.jpeg" alt="6146126478.jpeg" border="0" class="poster3"/></a>
    <a href="ep4.html"><img src="https://a.radikalfoto.host/2024/07/25/7d4ef6a5f68fb2965f14acf65c1dea23.jpeg" alt="7d4ef6a5f68fb2965f14acf65c1dea23.jpeg" border="0" class="poster1"/></a>
    <a href="ep5.html"><img src="https://a.radikalfoto.host/2024/07/25/QIvM8e4DyYk.jpeg" alt="QIvM8e4DyYk.jpeg" border="0" class="poster3"/></a>
    <a href="ep6.html"><img src="https://a.radikalfoto.host/2024/07/25/2-screenshot-13.png" alt="2-screenshot-13.png" border="0" class="poster3"/></a>
    <div class="image-container"></div>
    <script src="script.js"></script>
    </center>
</body>
</html>